@model LibraryCMS.Models.MemberDto
@{
    ViewBag.Title = "Details";
}
<div style="font-size:15px; margin-top: 5px;">
    <a href="/Member/List">⮌ Go back</a>
    <a href="/Location/Edit/@Model.MemberId">✎ Update</a>
    <a style="color:red;" href="/Member/DeleteConfirm/@Model.MemberId">🗑 Delete</a>
</div>


<h2>@Model.FirstName @Model.LastName</h2>
<div>Member since: @Model.RegistrationDate.ToString("dddd, MMMM dd,  yyyy")</div>
<div>Preferred Location: <a href="/Location/Details/@Model.LocationId"> @Model.LocationName</a></div>
<br />

<div>
    <p>Contact Info</p>
    <p>Email: @Model.eMail</p>
    <p>Phone number: @Model.PhoneNum</p>
</div>




