@model LibraryCMS.Models.ViewModels.DetailsBook
@{
    ViewBag.Title = "Details";
}
<a href="/Book/List">Go back</a>

<h2>@Model.SelectedBook.BookTitle</h2>
<div>By: @Model.SelectedBook.AuthorFname @Model.SelectedBook.AuthorLname</div>
<div>Genre: @Model.SelectedBook.genre</div>
<div>Publisher: @Model.SelectedBook.Publisher</div>
<div>Publication Date: @Model.SelectedBook.PublicationDate</div>
<div>ISBN: @Model.SelectedBook.ISBN</div>

<div style="float:right;">
    <h3>Currently at these Locations:</h3>
    @foreach(var location in Model.CurrentLocation)
    {
        <div>
            <a href="/Location/Details/@location.LocationId">@location.LocationName</a>
        </div>
    }
</div>




