@model LibraryCMS.Models.BookDto
@{
    ViewBag.Title = "Update";
}

<h2>Update Member</h2>
<form action="/Member/Update/@Model.BookId" method="POST">
    <div style="display:none;">
        @* Passing through book id *@
        <input type="text" name="MemberId" value="@Model.BookId" />
    </div>
    <div>
        <label>First Name</label><input type="text" name="FirstName" value="@Model.AuthorFname" />
    </div>
    <div>
        <label>Last Name</label><input type="text" name="LastName" value="@Model.BookTitle" />
    </div>
    <div>
        <label>Email</label><input type="email" name="eMail" value="@Model.SelectedMember.eMail" />
    </div>
    <div>
        <label>Registration Date</label><input type="date" name="RegistrationDate" value="@Model.SelectedMember.RegistrationDate" />
    </div>
    <div>
        <label>Phone Number</label><input type="tel" name="PhoneNum" value="@Model.SelectedMember.PhoneNum" />
    </div>
    <div>
        <input type="submit" name="Update Book" />
    </div>
</form>


